<!-- Backdrop para móvil -->
<div
  class="sidebar-backdrop fixed inset-0 bg-black/50 z-40 sm:hidden transition-opacity duration-300"
  [class.opacity-0]="!menuStore.isExpanded()"
  [class.pointer-events-none]="!menuStore.isExpanded()"
  (click)="toggleSidebar()"
  tabindex="0"
  role="button"
  aria-label="Cerrar menú"
></div>

<div class="sidebar-container h-full absolute max-w-max sm:block sm:relative"
[class.hidden]="!menuStore.isExpanded()">

<div class="sidebar
bg-white dark:bg-blue-dark transition-colors duration-200 z-50"
[class.expanded]="menuStore.isExpanded()"


>
  <header class="container-header-body">
    <!-- Logo y botón de expandir -->
    <div class="sidebar-header" [class.sidebar-header-expanded]="menuStore.isExpanded()">
      <div class="logo-name-container">
        <div class="logo-section">
          <div class="logo">
            <div class="logo-icon">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="14" cy="14" r="14" fill="#696FFB"/>
                <circle cx="18.3077" cy="18.3077" r="7.89744" fill="#B8BBFF"/>
                <circle cx="9.6923" cy="9.6923" r="7.89744" fill="#B8BBFF"/>
                <circle cx="14" cy="14" r="5.83333" fill="white"/>
                </svg>
            </div>
          </div>
        </div>

        @if (menuStore.isExpanded()) {
          <div class="logo-text-container">
            <p class="pl-1 text-blue font-black">FinData</p>
          </div>
        }
      </div>

      <div class="expand-btn border border-black-16 dark:border-white-16 bg-white dark:bg-blue-dark" (click)="toggleSidebar()" tabindex="0" role="button" aria-label="Toggle sidebar">
        <span class="material-icons text-black-60 dark:text-white">
          {{ menuStore.isExpanded() ? 'arrow_back' : 'arrow_forward' }}
        </span>
      </div>
    </div>

    <!-- Navegación principal -->
    <nav class="sidebar-nav pt-8">
      <ul class="nav-list" [class.nav-list-expanded]="!menuStore.isExpanded()">
        <li class="nav-item" [class.active]="activeItem() === 'dashboard'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('dashboard')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60">dashboard</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Dashboard</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'payments'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('payments')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">credit_card</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Payment</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'customers'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('customers')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">group</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Customers</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'messages'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('messages')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">chat_bubble_outline</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Messages</span>
            }
          </a>
        </li>
      </ul>
    </nav>

    <!-- Separador -->
    <div class="nav-separator"></div>

    <nav class="sidebar-nav">
      <ul class="nav-list" [class.nav-list-expanded]="!menuStore.isExpanded()">
        <li class="nav-item" [class.active]="activeItem() === 'products'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('products')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">shopping_bag</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Product</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'invoices'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('invoices')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">receipt</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Invoice</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'analytics'">
            <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('analytics')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">trending_up</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Analytics</span>
            }
          </a>
        </li>
      </ul>
    </nav>

    <div class="nav-separator"></div>

    <nav class="sidebar-nav">
      <ul class="nav-list" [class.nav-list-expanded]="!menuStore.isExpanded()">
        <li class="nav-item" [class.active]="activeItem() === 'settings'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('settings')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">settings</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Settings</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'security'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('security')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">security</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Security</span>
            }
          </a>
        </li>
        <li class="nav-item" [class.active]="activeItem() === 'help'">
          <a href="#" class="nav-link group focus:bg-blue-24" (click)="activeItem.set('help')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue">help_outline</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Help</span>
            }
          </a>
        </li>
      </ul>
    </nav>

    <div class="nav-separator"></div>

    <!-- Logout -->

    <nav class="sidebar-nav">
      <ul class="nav-list" [class.nav-list-expanded]="!menuStore.isExpanded()">
        <li class="nav-item" [class.active]="activeItem() === 'logout'">
          <a href="#" class="nav-link" (click)="activeItem.set('logout')">
            <span class="material-icons font-bold text-black-60 dark:text-white/60 group-focus:text-blue ">logout</span>
            @if (menuStore.isExpanded()) {
              <span class="text-lg font-bold text-black-60 dark:text-white/60 group-focus:text-blue">Log Out</span>
            }
          </a>
        </li>
      </ul>
    </nav>


  </header>

  <!-- Botón light/dark -->

  <div class="container-footer">
    <div class="theme-toggle">
        @if (menuStore.isExpanded()) {
          <span class="font-normal text-sm text-black-60 dark:text-white-60">Light</span>
        }
        <div class="toggle-switch" (click)="toggleTheme()" tabindex="0" role="button" aria-label="Toggle theme">
          <div class="toggle-slider" [class.dark]="store.darkMode()">
            <span class="material-icons toggle-icon">
              {{ store.darkMode() ? 'dark_mode' : 'light_mode' }}
            </span>
          </div>
        </div>
        @if (menuStore.isExpanded()) {
          <span class="font-normal text-sm text-black-60 dark:text-white-60">Dark</span>
        }
      </div>
  </div>
  </div>
</div>
