<div class="card bg-white dark:bg-blue-dark card-metric">
  <div class="card-metric-title">
    <h3 class="text-black dark:text-white font-bold text-lg"> {{ title() }} </h3>
  </div>
  <div class="card-metric-value">
    <h3 class="text-black dark:text-white font-bold text-[34px]"> {{ getFormattedValue() }} </h3>
  </div>

  <div class="card-metric-percentage">
    <div class="flex items-center justify-center gap-1 rounded-md p-1"
    [class]="getStatusClasses()">
    <div>
      <span class="material-icons text-black dark:text-white icon-percentage">
        @switch (changeType()) {
          @case (StatusMetricEnum.UP) {
            arrow_upward
          }
          @case (StatusMetricEnum.DOWN) {
            arrow_downward
          }
          @default {
            density_large
          }
        }
      </span>
    </div>
    <h3 class="text-black dark:text-white font-normal text-sm"> {{ percentageChange() }} </h3>
    </div>
    <div class="card-metric-percentage-text">
      <h3 class="text-black/60 dark:text-white/60 font-normal text-sm"> {{ description() }} </h3>
    </div>
  </div>
</div>
