
/* Colores de texto */
.text-primary {
  color: var(--color-primary);
}
.text-primary-light {
  color: var(--color-primary-light);
}
.text-primary-dark {
  color: var(--color-primary-dark);
}

.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-light {
  color: var(--color-secondary-light);
}
.text-secondary-dark {
  color: var(--color-secondary-dark);
}

.text-blue {
  color: var(--color-blue);
}
.text-blue-60 {
  color: var(--color-blue-60);
}
.text-blue-32 {
  color: var(--color-blue-32);
}
.text-blue-20 {
  color: var(--color-blue-20);
}
.text-blue-12 {
  color: var(--color-blue-12);
}
.text-blue-8 {
  color: var(--color-blue-8);
}

.text-yellow {
  color: var(--color-yellow);
}
.text-orange {
  color: var(--color-orange);
}

.text-green-light {
  color: var(--color-green-light);
}
.text-green-dark {
  color: var(--color-green-dark);
}
.text-red-light {
  color: var(--color-red-light);
}
.text-red-dark {
  color: var(--color-red-dark);
}

.text-black-60 {
  color: var(--color-black-60);
}
.text-black-16 {
  color: var(--color-black-16);
}
.text-black-4 {
  color: var(--color-black-4);
}
