.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
}

.container-card-metric {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.container-sales-overview-region {
  width: 100%;
  display: flex;
  gap: 24px;

}

.sales-overview-region {
  width: 70%;
}

.sales-by-region {
  width: 30%;
}

.container-users-table {
  width: 100%;
  display: flex;
  gap: 24px;

}

.list-integration {
  flex-grow: 1;
}

// Media Queries
// ==========================================

// Tablet (768px y menos)
@media (max-width: 768px) {

  .container-card-metric {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  .container-sales-overview-region{
    flex-direction: column;
    gap: 16px;
  }

  .sales-overview-region,
  .sales-by-region {
    width: 100%;
  }

  .container-users-table {
    flex-direction: column;
    gap: 16px;
  }

  .registered-users,
  .list-integration {
    width: 100%;
  }
}
