@use '../../../../shared/styles/card.scss';

.card-sales-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.sales-overview-title-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sales-overview-values {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.sales-overview-revenue, .sales-overview-target{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}


.sales-overview-chart {
  width: 100%;
}

@media (max-width: 425px) {
  .sales-overview-title-values {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
